/*html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; }*/

.station {
  height: 500px !important;
  width: 100%;
}

#station2Map {
  height: 500px !important;
  width: 100%;
}

#station3Map.station {
  height: 500px !important;
  width: 100%;
}

#station4Map.station {
  height: 500px !important;
  width: 100%;
}

#station5Map.station {
  height: 500px !important;
  width: 100%;
}


