.routes-page {
  position: fixed;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  width: 65%;
  height: 100%;
  overflow-y:scroll;
  overflow-x:scroll;
}

.header-title {
  background-color: white;
  width: 40%;
  text-align: center;
  margin: auto;
}

.panel-group {
  font-size: 100%
}