<html>
  <head>
    <title>Place Autocomplete Address Form</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  </head>

  <body onload="search();geolocate();directions()">
    <div id="locationField">
      <input id="autocomplete" placeholder="Enter your address" type="text"></input>
      <button id= "geolocate" type="button">Or Geolocate Me!</button>
      <button id= "find" type="button">Or I want Directions!</button>
      <input id="origin" style="display: none" placeholder="Origin" type="text"></input>
      <input id="destination" style="display: none"placeholder="Destination" type="text"></input>
      <button id= "directions" style="display: none" type="button">Get Directions!</button>
    </div>
  </body>
</html>


