<!DOCTYPE html>
<html>
<head>
  <title>NYCapable</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://www.google.com/jsapi"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhj6JZdjctXQe4usKeIyGur33v3-Tgglo"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= yield %>

</body>
</html>
