<div class="about-section">
  <div class="top">
    <img src ="http://nemanjakovacevic.net/wp-content/uploads/2013/07/placeholder.png">
  </div>

  <h3>Our Mission</h3>
    <p>Those with disabilites trying to access the subway have very few resources at their disposal to know which stations are handicap accessible with ADA elevators. Also it's never marked clear on Google Maps or any giving station corner on street level where the ADA elevators are located. We wanted to make this easier by consoldiating the information into a single app that's simple to use and provides the user with:</p>
    <ul>
      <li>Nearest accessible subway stations to them or a given location</li>
      <li>Nearest accessible subway stations to their destination</li>
      <li>Directions that include exact location of ADA elevators at station</li>
      <li>Total transit time with live updates of train status including delays and planned work</li>
      <li>Account for non-accessible stations with accessible transfer platforms</li>
    </ul>
    <p>Our mission was to create a resource that helps to make lives easier who fall into this underserved demographic. . !!Fill in more later - and proofread as group!!</p>

  <h3>What Makes Us Unique</h3>
    <p>What makes us different from using Google Maps, Apple Maps, and other similar mapping apps is we account for all the disability features they don't: ADA elevator geo coordinates, accessible transfer platforms at non-accessible stations, and trip calculations according to that data.</p>

  <h3>GitHub</h3>
  <p><a href="https://github.com/nyc-dragonflies-2015/NYCapable"><li>NYCapable GitHub</li></a></p>


  <h3>Source Credit</h3>
    <ul>
      <a href="http://web.mta.info/developers/"><li>MTA API</li></a>
      <a href="https://developers.google.com/maps/"><li>Google Maps API</li></a>
    </ul>
</div>