<div class="about-section">
  <div class="top">
    <img src ="http://nemanjakovacevic.net/wp-content/uploads/2013/07/placeholder.png">
  </div>

  <h3>Our Mission</h3>
  <p>NYCapable is a project designed to help commuters find the closest wheelchair-accessible MTA stations. We hope that it will help an underserved population of the city quickly navigate the MTA system. </p>

  <h3>What Makes Us Unique</h3>
  <p>This app provides directions to the 5 closest accessible subway stations from any given location to the exact location of ADA-compliant entrances and elevators.</p>

  <h4>We believe that this project is just the beginning, and we'd love for you to contribute to a project that opens up the transit system to everyone.</h4>

  <h3>How To Contribute</h3>
  <ul>
    <li>Access our <a href="https://github.com/nyc-dragonflies-2015/NYCapable">github</a> and fork our repository</li>
    <li>Implement your feature</li>
    <li>Make a pull request and tag us so we can review it</li>
  </ul>



  <h3>GitHub</h3>
  <p><a href="https://github.com/nyc-dragonflies-2015/NYCapable"><li>NYCapable GitHub</li></a></p>


  <h3>Source Credit</h3>
    <ul>
      <a href="http://web.mta.info/developers/"><li>MTA API</li></a>
      <a href="https://developers.google.com/maps/"><li>Google Maps API</li></a>
    </ul>
</div>