.about-section {
  position: fixed;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  max-width: 80%;
  height: 100%;
  overflow-y:scroll;
  overflow-x:hidden;
}