.about-section {
  position: fixed;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 19.2%;
  padding-bottom: 5%;
  max-width: 80%;
  height: 100%;
  word-wrap: break-word;
  overflow-y:scroll;
}

.top {
  padding-top: 3%;
  padding-left: 21%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin: auto;
}