#station1Map {
  height: 500px !important;
  width: 100%;
}

#station2Map {
  height: 500px !important;
  width: 100%;
}

#station3Map {
  height: 500px !important;
  width: 100%;
}

#station4Map {
  height: 500px !important;
  width: 100%;
}

#station5Map {
  height: 500px !important;
  width: 100%;
}

#autocomplete {
  position: absolute;
  top: 400px;
  left:250px;
  width: 50%;
}

#geolocate {
  position: absolute;
  top: 400px;
  left:750px;
}

#origin {
  position: absolute;
  top: 450px;
  left:250px;
}

#destination {
  position: absolute;
  top: 500px;
  left:250px;
}

.mta-bullet {
  font-family: Helvetica, sans-serif;
  width:  2em;
  height: 2em;
  font-size: 1em;
  line-height: 1em;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(css/PIE.htc);
}

span.mta-bullet { display: inline-block; }
.mta-a, .mta-c, .mta-e, .mta-ace { background-color: #2850AD; }
.mta-b, .mta-d, .mta-f, .mta-m, .mta-bdfm { background-color: #FF6319; }
.mta-g { background-color: #6CBE45; }
.mta-j, .mta-z, .mta-jz { background-color: #996633; }
.mta-l { background-color: #A7A9AC; }
.mta-n, .mta-q, .mta-r, .mta-nqr { background-color: #FCCC0A; color: #333; }
.mta-s { background-color: #808183; }
.mta-1, .mta-2, .mta-3, .mta-123 { background-color: #EE352E; }
.mta-4, .mta-5, .mta-6, .mta-456 { background-color: #00933C; }
.mta-7 { background-color: #B933AD; }
.lirr-babylon  { background-color: #00985F; }
.lirr-city-terminal { background-color: #4D5357; }
.lirr-far-rockaway  { background-color: #6E3219; }
.lirr-hempstead  { background-color: #CE8E00; }
.lirr-long-beach  { background-color: #FF6319; }
.lirr-montauk  { background-color: #6983; }
.lirr-oyster-bay  { background-color: #00AF3F; }
.lirr-port-jefferson  { background-color: #0039A6; }
.lirr-port-washington  { background-color: #C60C30; }
.lirr-ronkonkoma  { background-color: #A626AA; }
.lirr-west-hempstead  { background-color: #00A1DE; }
.metro-north-harlem  { background-color: #0039A6; }
.metro-north-hudson  { background-color: #009B3A; }
.metro-north-new-haven  { background-color: #E00034; }
.metro-north-pascack-valley  { background-color: #923D97; }
.metro-north-port-jervis  { background-color: #FF7900; }
.mta-ez-pass { background-color: #6E267B; }
